  <body>
    <br>
    <h2> Aimee Maher </h2>
    <h2> Full-Stack Ruby-on-Rails Developer </h2>
    <ul>
      <li><%= link_to "Resume", delete_content_path, :remote => true %></li>
      <li><%= link_to "Portfilio", delete_content_path, :remote => true %></li>
      <li><%= link_to "Contact", delete_content_path, :remote => true %></li>
      <li><%= link_to "gSchool Blog", 'http://gschool-blog.herokuapp.com'
      </li>
    </ul>
  </body>

